<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <div class="container" th:method="post"
         th:action="@{/company-details}"
         th:object="${allCompanies}">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>

            <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle"
                 th:each="company: ${allCompanies}">
                <h2>Company: <span th:text="${company.name}"></span></h2>
                <h4>Town: <span th:text="${company.town}"></span></h4>
                <h4>Description: <span th:text="${#strings.substring(company.description, 0, 5)}"></span></h4>
                <h4><a class="btn-block" th:href="@{/company-details/{id}(id=${company.id})}">Detail info</a></h4>
            </div>

        </div>
    </div>
</main>
<footer id="footer" th:replace="fragments/footer"></footer>
</body>
</html>