<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <div class="container"
        th:action="@{company-details/{id}(id=${companyDetails.id})}"
        th:method="post"
        th:object="${companyDetails}">

        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center"
                  th:action="@{delete-company}"
                  th:method="post"
                  th:object="${companyDetails}">
                <div class="justify-content-center">
                    <h1>Company Details</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 bg-dark"><img src="/pic/company.png" height="350px"></div>
                    <div class="col-md-6 bg-dark">
                        <h2>Company</h2>
                        <h4>Name: <span th:text="*{name}"></span></h4>
                        <h4>Town: <span th:text="*{town}"></span></h4>
                        <h4>Description: <span th:text="*{description}"></span></h4>
                        <h4>Budget: <span th:text="*{budget}"></span></h4>
                        <div class="align-bottom"><a class="btn btn-danger align-bottom"
                                                     href="/">Delete company</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer id="footer" th:replace="fragments/footer"></footer>
</body>
</html>