<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-toggler bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/companies/add">Add Company</a>
                <a class="nav-item nav-link text-white" href="/employees/add">Add Employee</a>
                <a class="nav-item nav-link text-white" href="/companies/all">All Companies</a>
                <a class="nav-item nav-link text-white" href="/employees/all">All Employees</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <main class="jumbotron text-center rounded col-md-12 align-self-center">
            <div class="justify-content-center">
                <h1>Add Employee</h1>
            </div>
            <form class="m-md-auto w-50 text-center"
                  th:action="@{/employees/add}"
                  th:method="post"
                  th:object="${employeeDTO}">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control text-center" id="firstName" aria-describedby="firstName" name="firstName"
                            th:field="*{firstName}"
                            th:errorclass="is-invalid"/>
                    <p class="invalid-feedback errors alert alert-danger">First name must be min 2 letters</p>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control text-center" id="lastName" aria-describedby="lastName" name="lastName"
                           th:field="*{lastName}"
                           th:errorclass="is-invalid"/>
                    <p class="invalid-feedback errors alert alert-danger">Last name must be min 2 letters</p>
                </div>
                <fieldset class="form-group">
                    <legend>Choose Education Level</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Master" name="educationLevel"
                                   th:field="*{educationLevel}">
                            <span>Master</span>
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="Bachelor" name="educationLevel"
                                   th:field="*{educationLevel}"/>
                            <span>Bachelor</span>
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input " value="Secondary" name="educationLevel"
                                   th:field="*{educationLevel}"/>
                            <span>Secondary</span>
                        </label>
                    </div>
					</fieldset>

                <div class="form-group">
                    <label th:for="company"><h5>All available companies</h5></label>
                    <select multiple=multiple class="form-control text-center" id="company" name="company"
                            th:field="*{companies}">
                        <option
                                th:each="company: ${allCompanies}"
                                th:value="${company.id}"
                                th:text="${company.name}">Company name
                        </option>
                     </select>
				</div>

                <div class="form-group">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" class="form-control text-center" id="jobTitle" aria-describedby="jobTitle" name="jobTitle"
                           th:field="*{jobTitle}"
                           th:errorclass="is-invalid"/>
                    <p class="invalid-feedback errors alert alert-danger">Write job title</p>
                </div>

                <div class="form-group">
                    <label for="birthDate">Birth Date</label>
                    <input type="date" class="form-control text-center" id="birthDate" aria-describedby="birthDate" name="birthDate"
                    th:field="*{birthDay}">
                </div>

                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="number" class="form-control text-center" id="salary"
					aria-describedby="salary" name="salary"
                           th:field="*{salary}"
                           th:errorclass="is-invalid"/>
                    <p class="invalid-feedback errors alert alert-danger">Choose salary</p>
                </div>
                <button type="submit" class="btn btn-secondary">Add Employee</button>
            </form>
        </main>
    </div>
</div>
</body>
<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</html>