<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>

<header th:replace="~{fragments/header}"></header>
<main>
    <div class="container"
    th:method="POST"
    th:action="@{/employees/all}"
    th:object="${allEmployees}">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All employees</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around' th:each="employee: ${allEmployees}">
            
                <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded">
                    <h2>Full name: <span th:text="${employee.firstName} + ' ' + ${employee.lastName}"></span></h2>
                    <h4>Job title: <span th:text="${employee.jobTitle}"></span></h4>
                    <h4>Birth Date: <span th:text="${employee.birthDay}"></span></h4>
                    <h4><a class="btn-block" href="/employee-detail">Detail info</a></h4>
                </div>
        </div>
    </div>
</main>

<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>