<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <div class="container"
            th:action="@{/employee-details/{id}(id=${employeeDTO.id})}"
            th:object="${employeeDTO}"
            th:method="post">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center">
                <div class="justify-content-center">
                    <h1>Employee Details</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 bg-dark">
                        <h2>Employee</h2>
                        <h4>First Name: <span th:text="*{firstName}"></span></h4>
                        <h4>Last Name: <span th:text="*{lastName}"></span></h4>
                        <h4>Education Level: <span th:text="*{educationLevel}"></span></h4>
                        <h4>Job title: <span th:text="*{jobTitle}"></span></h4>
                        <h4>Birthdate: <span th:text="*{birthDay}"></span></h4>
                        <h4>Salary: <span th:text="*{salary}"></span>$</h4>
                        <h4>Company: </h4>
                        <ul>
                            <li th:each="company : *{companies}">
                                <span th:text="${company.name}"></span>
                            </li>
                        </ul>
                        <div class="align-bottom">
                            <a class="btn btn-danger align-bottom"
                               href="/">Delete employee</a>
                        </div>
                    </div>
                    <div class="col-md-6 bg-dark"><img src="/pic/employee.png" height="350px"></div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer id="footer" th:replace="fragments/footer"></footer>
</body>
</html>